:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: black;
}

.loading-bar {
  width: 500px;
  height: 20px;
  border: 1px solid #e90707;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px auto;
}

.loading-container {
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.progress {
  width: 0;
  height: 100%;
  background-color: #007bff;
  transition: width 1s linear; /* Animation duration matches the delay in handleSubmit */
}

.info-container {
  box-sizing: border-box;
  margin: auto;
}

.container {
  color: white;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Optional: Set the width and height as per your requirements */
  width: 475px;
  padding: 100px;
  border-radius: 5px;
  border: 2px solid black;
  /* height: 200px; */
}

.header-textCC {
  color: red;
  font-weight: 600;
  font-size: 20px;
  /* border: 1px solid white; */
  margin-bottom: 25px;
}

.instructions-text {
  /* border: 1px solid white; */
  margin-bottom: 35px;
}

.zip-text {
  text-align: end;
  width: 18ch;
  display: inline-block;
  /* border: 1px solid white; */
  margin-right: 10px;
}

.cv-text {
  text-align: end;
  width: 18ch;
  display: inline-block;
  /* border: 1px solid white; */
  margin-right: 10px;
}

.credit-card-text {
  text-align: end;
  width: 18ch;
  display: inline-block;
  /* border: 1px solid white; */
  margin-right: 10px;
}

/* 
.credit-card-input {
  border: 1px solid red;
} */

.zip-input {
  /* border: 1px solid red; */
  width: 75px;
}

.cv-input {
  /* border: 1px solid red; */
  width: 75px;
}

.credit-card-container {
  /* border: 3px solid red; */
  margin-bottom: 10px;
}

.cv-container {
  /* border: 3px solid red; */
  margin-bottom: 10px;
}

.zip-container {
  /* border: 3px solid red; */
  margin-bottom: 10px;
}

.submit-button {
  width: 100%;
  height: 40px;
  background-color: rgb(178, 1, 1);
  outline: none;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
  transition: all 0.1s ease-in;
}

.submit-button:hover {
  background-color: rgb(132, 2, 2);
}

.submitted {
  background-color: rgba(0, 255, 0, 0.521);
  /* height: 40px; */
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.svg {
  margin-top: 25px;
  color: white;
  height: 60px;
}

.submitted-container {
  /* border: 1px solid white; */
  display: flex;
}

@media (max-width: 768px) {
  .container {
    width: 90%; /* Adjust the width to fit smaller screens */
    padding: 20px;
  }
  .svg {
    height: 40px;
  }
}
